@use "css/landing.scss";

html, body, #root {
  width: 100%;
  scroll-behavior: smooth;
  height: 100%;
}
html, body {
  overflow: hidden;
}
#root {
  overflow-y: scroll;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

* {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

::selection {
  background-color: var(--joy-palette-primary-t-500);
  color: white;
}