@function calcRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

.chanbar, .chanbar * {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.chanbar {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--server-nav-width);

	width: var(--channel-nav-width);
	background-color: light-dark(var(--mantine-color-gray-3), var(--channel-nav-dark));
}

.chanbarMain {
	padding: var(--mantine-spacing-md) 1vw;
	flex: 1;
	/* margin-top: calcRem(50px); */
}

.chanbarImg, .chanbarImg *:not(span) {
	min-height: 90px;
	height: calc(18vh);

}

.chanbarImg {
	position: relative;
	overflow: hidden;

	img {
		object-fit: cover;
		object-position: top;
	}
}

.chanbarName {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to top, light-dark(var(--mantine-color-gray-3), var(--channel-nav-dark)) 5%, transparent 125%) !important;
	background-size: cover;
}

.chanbarClickable {
	cursor: pointer;
	display: flex;
	flex-grow: 1;
	align-self: flex-end;

	position: absolute;
	bottom: 15px;

	width: 100%;
	height: calc(4.5vh) !important;
	min-height: 23px !important;

	span {
		align-self: flex-end;
		padding: 0 0 5px 20px;

		color: var(--font-reg-dark);
		font-size: 24px;
		font-weight: bold;
	}

	::after {
		display: inline-block;
		position: absolute;
		right: 10px;
		bottom: 0;

		transform: rotate(90deg) scaleX(0.55);
		content: "\25b6";
	}
}

.link {
	width: calcRem(50px);
	height: calcRem(50px);
	border-radius: var(--mantine-radius-md);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--mantine-color-white);

	&:hover {
		background-color: var(--mantine-color-blue-7);
	}

	&[data-active] {
		&, &:hover {
			box-shadow: var(--mantine-shadow-sm);
			background-color: var(--mantine-color-white);
			color: var(--mantine-color-blue-6);
		}
	}
}

.separator {
	border: 1px solid #252234;
	margin: 10px 0 10px 0;
}

.groupIcon, .groupLeft, .groupRight {
	height: 88px;
	padding: 20px 0;
}

.groupMain {
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	height: 88px;
}

.groupIcon {
	margin-left: 18px;
	width: 48px !important;
	flex-basis: 48px;
	vertical-align: middle;
}

.groupLeft {
	display: flex;
	flex-basis: 260px !important;
	width: 260px !important;
	flex-wrap: wrap;
	align-content: center;
}

.groupName {
	margin-left: 15px;
	flex-basis: 260px;
	height: 24px;

	p {
		color: var(--font-reg-dark);
		font-weight: 700 !important;
		font-size: 16px;
	}
}

.groupDesc {
	margin-left: 15px;
	flex-basis: 230px;
	width: 200px;

	p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		color: var(--font-sub-dark);
		font-weight: 500 !important;
		font-size: 16px;
	}
}

.groupRight {
    display: inline-block;
	flex-basis: 50px;
	width: 50px;
	padding: 32px 0;

	text-align: right;
	color: var(--font-sub-dark);
	font-weight: 900 !important;
	font-size: 36px;
	line-height: 0;
}
