@function calcRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

.navbar {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	width: var(--server-nav-width);
	padding: var(--mantine-spacing-md);
	background-color: light-dark(var(--mantine-color-gray-3), var(--server-nav-dark));
}

.navbarMain {
	flex: 1;
	/* margin-top: calcRem(50px); */
}

.link {
	margin: 10px 0;
	width: calcRem(50px);
	height: calcRem(50px);
	border-radius: var(--mantine-radius-md);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--mantine-color-white);

	&:hover {
		/* background-color: var(--mantine-color-blue-7); */
	}

	img, svg {
		transition-duration: 0.15s;
	}

	&[data-active] {
		&, &:hover {
			box-shadow: var(--mantine-shadow-sm);
			/* background-color: var(--mantine-color-white); */
			color: var(--mantine-color-blue-6);
		}
	}
}

.serverTooltip {
	border: 1px solid white;
	margin-left: 10px;
	background-color: var(--server-tooltip-bg-dark);
	color: var(--server-tooltip-clr-dark);

	div {
		border: 1px solid white;
		z-index: -1;
	}
}