@use "./functions.scss" as *;

h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand";
}

.landing-side-padding {
    @include padding-horizontal(256px);
}
.landing-side-padding-nav {
    @include padding-horizontal(256px - 24.75px);
}
.landing-extreme-top {
    padding-top: 128px + 64px;
}

.IndexNavbar {
    &.container {
        @include padding-vertical(8px);
    }
    &.menu.center {
        flex: 1;
        align-items: center;
    }
    &.spacing {
        flex: 1;
    }
}

.IndexFooter.container {
    padding-top: 24px;
    padding-bottom: 48px;
}

.BrandLogo.img {
    width: 56px;
    height: 56px;
    &.xs {
        width: 36px;
        height: 36px;
    }
    &.sm {
        width: 48px;
        height: 48px;
    }
    &.md {
        width: 56px;
        height: 56px;
    }
    &.lg {
        width: 64px;
        height: 64px;
    }
    &.xl {
        width: 96px;
        height: 96px;
    }
}

.IndexPage {
    &.top {
        height: 1080px - 72px;
    }
    &.top-motto-text {
        margin-bottom: 24px;
    }
}