@use "css/index.scss";

// TODO: Add variables here.
// :root[data-mantine-color-scheme='light'] {
  
// }

// :root[data-mantine-color-scheme='dark'] {

// }


* {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  font-size: 18px;
}